<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:aop="http://www.springframework.org/schema/aop"
         xmlns:tx="http://www.springframework.org/schema/tx"
         xmlns:p="http://www.springframework.org/schema/p"
         xsi:schemaLocation="http://www.springframework.org/schema/beans 
           classpath:xsd/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop 
           classpath:xsd/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx 
           classpath:xsd/spring-tx-2.5.xsd
           http://www.springframework.org/schema/context
           classpath:xsd/spring-context-2.5.xsd">

    <import resource="dataSource.xml"/>

    <bean id="configurationLoader" 
      class="org.springmodules.validation.bean.conf.loader.annotation.AnnotationBeanValidationConfigurationLoader" />

    <bean id="validator" class="org.springmodules.validation.bean.BeanValidator"
        p:configurationLoader-ref="configurationLoader"/>  

    <bean id="appInfo" class="org.mifos.core.AppInfo">
        <property name="svnRevision" value="${svn.revision.appInfo}"/>
        <property name="buildTag" value="${build.tag.appInfo}"/>
        <property name="buildId" value="${build.id.appInfo}"/>
    </bean>
    
    <bean id="loanProductDao" class="org.mifos.loan.repository.StandardLoanProductDao"/>
   
   	<bean id="loanProductService" class="org.mifos.loan.service.StandardLoanProductService">
		<property name="loanProductDao" ref="loanProductDao"/>
	</bean>
    
   
   	<bean id="loanService" class="org.mifos.loan.service.StandardLoanService">
		<property name="loanProductDao" ref="loanProductDao"/>
		<property name="loanDao" ref="standardLoanDao"/>
		<property name="beanMapper" ref="beanMapper"/>
		<property name="validator" ref="validator"/>
	</bean>
    
   
	<bean id="beanMapper" class="net.sf.dozer.util.mapping.DozerBeanMapper">
		<property name="mappingFiles">
			<list>
				<value>dozerBeanMappings.xml</value>
			</list>
		</property>
	</bean>
	<!-- 
		<bean id="BeanMapper" class="net.sf.dozer.util.mapping.DozerBeanMapper">
		<property name="mappingFiles">
			<list>
				<value>dozer-global-configuration.xml</value>
				<value>dozer-bean-mappings.xml</value>
			</list>
		</property>
	</bean>  
	
	 -->
</beans>